<div id="filterrific_results">

  <table class="table centered">
    <tr>
      <th><%= filterrific_sorting_link(@filterrific, :fullname) %></th>
      <th>Sexo</th>
      <th>Raça</th>
      <th>Dono</th>
      <th>Idade</th>
      <th>Castrado</th>
      <th><%= filterrific_sorting_link(@filterrific, :last_visit) %></th>
    </tr>
    <% pets.each do |pet| %>
      <tr>
        <td class="fullname"><%= pet.fullname%></td>
        <td><%= display_gender(pet) %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.user.fullname %></td>
        <td class="age"><%= display_age(pet) %></td>
        <td><%= display_castrated(pet) %></td>
        <td><%= pet.last_visit %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate pets, renderer: BootstrapPagination::Rails %>

