<div class="banner">
  <div class="banner-content text-center">
    <%= link_to image_tag("logo.png", class: "logo-banner"), reset_filterrific_url %>
  </div>
</div>

<div class="container">

  <%= form_for_filterrific @filterrific, html: { class: 'search margin-top' } do |f| %>
    <div class="form-group">
      <%= f.label :search_query, "Buscar por nome ou raça do Pet".html_safe %>
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed form-control'
      ) %>
    </div>

    <div class="form-inline margin-bottom">
      <div class="form-group margin-right">
        <%= f.label :with_gender, "Sexo".html_safe %>
        <%= f.select( :with_gender, @filterrific.select_options[:with_gender],
                      { include_blank: 'Ambos' },
                      class: "btn btn-primary btn-lg dropdown-toggle",
                    ) %>
      </div>

      <div class="form-group margin-right">
        <%= f.label :with_castrated_only, "Castrados".html_safe %>
        <%= f.check_box :with_castrated_only %>
      </div>
    </div>

    <div class="form-group margin-right">
      <%= f.submit "Filtrar resultados", class: "btn btn-primary btn-lg" %>
      <%= link_to( 'Limpar campos', reset_filterrific_url ) %>
    </div>

  <% end %>

  <%= render(
    partial: 'pets/list',
    locals: { pets: @pets }
  ) %>
</div>
